/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #AEB8C1;
    --secondary-color: #BD1717;
    --accent1-color: #396E94;
    --accent2-color: #0A0508;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Square Peg', cursive;
    --paragraph-font: Lato, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #396E94;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: #396E94;
    --nav-link-color: #396E94;
    --nav-background-color: #AEB8C1;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #BD1717;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
    max-width: 100%;
    margin: 0 auto;
    padding: 2em;
    font-size: 18px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h3 {
    font-family: 'Rock Salt', cursive;
}

h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

hr {
    display: flex;
    height: 3px;
    margin: 35px 0 30px 0;
    background: var(--accent1-color);

}

header {
    padding: .5em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
    width: 100%;

}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
    font-family: 'Rock Salt', cursive;
}

p,
li {
    list-style: none;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
    font-family: 'Anybody', cursive;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
    color: #AEB8C1;
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav {
    list-style-type: none;
    display: flex;

}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;

}

nav img {
    width: 3.5%;
    float: right;
    padding-left: 40%;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



.logo {
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo img {
    float: left;
}

.logo .list {
    text-align: left;
    font-family: 'Anybody', cursive;
}

footer {
    justify-content: space-between;
    width: 100%;
    color: #396E94;

}

footer a {
    text-decoration: none;

}

/*Page 2 specifics*/

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items:  center;


}

.container {
    position: relative;
    width: 50%;
    
}

.image {
    width: 100%;
    height: 200px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #396E94;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 200px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Page 3 specifics*/
.why {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;

}

.why img {
    height: 80%;
    width: 100%;
}

.why li {
    text-align: left;
}

.why-info {
    margin: 10px;
    background-color: #396E94;
    color: aliceblue;
}